/* XXX download these fonts so they can be served locally 

@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
*/

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://themes.googleusercontent.com/static/fonts/notosans/v1/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/notosans/v1/PIbvSEyHEdL91QLOQRnZ13hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://themes.googleusercontent.com/static/fonts/notoserif/v1/eCpfeMZI7q4jLksXVRWPQxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(https://themes.googleusercontent.com/static/fonts/notoserif/v1/lJAvZoKA5NttpPc9yc6lPQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}


/* Custom CSS
-------------------------*/


a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/* General page
 * 
 */
@media (min-width: 980px) {

body {
	padding-top: 0px;
}

}

/* default font settings */
body{ font-family: 'Noto Serif', serif;}
h1,h2,h3,h4,h5,h6,header { font-family: 'Noto Sans', sans-serif;}
aside { font-family: 'Noto Sans', sans-serif; }


/* link colors */
a, a:link, a:hover, a:focus {color: rgb(78, 38, 131)}
a:hover, a:focus {
    text-decoration: underline;
}

/* login form width correction */
#login_username, #login_password {
width: 90%;
}

/* Content Sections */
/* Section highlight */
.course-content .current {
    background-color: #FFEBBD;
    background-color: rgba(253, 184, 19, 0.25);
    border-radius: 8px;
}


/* header one
 * navigation bar
 * I prefer to have the bread crumbs be fixed instead of the main menu bar. This has required some messing with the
 * .navbar-fixed-top styles and the inclusing of some custom javascript.
 * If it stops working check the HTML class attributes, and the javascript.
*/

/* This creates a slight showdow to seperate the menu bar at the top from the breadcrumbs bar below */
.navbar-inner {
   min-height: 40px;
   padding-right: 0px;
   padding-left: 0px;
   border: none;
   border-radius: 0;
   box-shadow: none;
   background-color: rgb(78, 38, 131) !important;
   background-image:-moz-linear-gradient(top,rgb(78, 38, 131), rgb(68, 28, 100));
   background-image:-webkit-gradient(linear,0 0,0 100%,from(rgb(78, 38, 131)),to(rgb(68, 28, 100)));
   background-image:-webkit-linear-gradient(top,rgb(78, 38, 131), rgb(68, 28, 100));
   background-image:-o-linear-gradient(top,rgb(78, 38, 131), rgb(68, 28, 100));
   background-image: linear-gradient(to bottom, rgb(78, 38, 131), rgb(68, 28, 100));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff603d91', endColorstr='#ff603d91', GradientType=0);
   background-repeat:repeat-x;
}

@media (min-width: 980px) {

	.navbar-fixed-top {
	position: relative;
	}

	.navbar-inner {
	   box-shadow: 0px -3px 6px 4px rgb(0, 0, 0) !important;
	   -webkit-box-shadow: -5px 8px 12px -4px #333;
	   -moz-box-shadow: -5px 8px 12px -4px #333;
	}
}

/* Menu colors: text color for menu bar should be white with light purple highlight for menu item hover and orange highlight on link hover */

.navbar-text {
    margin-bottom: 0px;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

.navbar .logininfo a {
    color: rgb(255, 255, 255);
}

.navbar .logininfo a:hover {
    color: rgb(253, 184, 19);
}

.navbar .brand {
    font-size: 20px;
    font-weight: bold;
    text-shadow: none;
    color: rgb(255, 255, 255);
}

.navbar .nav > li > a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(125, 94, 166);
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(253, 184, 19);
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    }
    
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(125, 94, 166);
    background-image: none;
    filter: none;
}


/* Header two
 * Breadcrumb bar
 * and page title 
 */


/* these stiles are activated by the javascript when the window scrolls past the breadcrumb bars position causing it to stick at the top of the page */
 
@media (min-width: 768px) {
	 .stickybreadcrumb {
		position: fixed !important;
		top: 0;
		margin-top:0;
		z-index: 500;
		left: 20px;
		right: 20px;
	}

	 .stickybreadcrumbbutton {
		position: fixed !important;
		top: 1px;
		z-index: 501;
		right: 20px;
	}
}

@media (min-width: 980px) {
	#page-navbar{
		height: 39px;
	}

	 .stickybreadcrumb {
		position: fixed !important;
		top: 0;
	}


	 .stickybreadcrumbbutton {
		position: fixed !important;
		top: 1px;
	}

	div.breadcrumb-button {
	position: absolute;
	z-index: 501;
	right: 15px;
	}

	ul.breadcrumb {
	  position: absolute;
	  left: 0px;
	  right: 0px;
	  z-index: 500;
	  display: block;
	  background-color: rgb(248, 248, 248);
	  border-color: rgb(204, 204, 204);
	  border-bottom: 1px solid rgb(204, 204, 204);
	  margin: 0;
	  height: 22px;
	  }
}


/* highlight the edit button when editing is on */

input[value="Turn editing off"] {
    background-color: rgb(253, 184, 19);
    background-image: none;
    }

/* block styles
 * These styles replicate the block ribbon headdings from Ozarks100
 * Moodle theme
*/

/* set block borders to be slightly rounded and use the same colors as the main Ozarks web pages */
 
.block {
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(248, 248, 248);
  border-color: rgb(204, 204, 204);
}

.block .content {
  padding: 8px 8px;
}

@media (min-width: 980px) {
        /* these styles create the ribbon headings for the blocks
         * because the ribbon wraps over only one side of the block
         * the style must be set for each side of the page
        */

	/* right column */
	#block-region-side-post {
		padding-right: 10px;
	}
	#block-region-side-post .block_action { float: left;}


	#block-region-side-post .title h2 {
	 position: relative;
	  border-radius: 0px;
	  color: white;
	  border: 0px;
	  right: -20px;
	  top: -1px;
	  margin: 0px inheritpx 10px 20px;
	  padding: 12px 0px 12px 15px;
	  -webkit-box-shadow: -5px 8px 12px -4px #333;
	  -moz-box-shadow: -5px 8px 12px -4px #333;
	  box-shadow: -5px 8px 12px -4px #333;
	  background-image: -moz-linear-gradient(top, #603d91, #603d91);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#603d91), to(#603d91));
			background-image: -webkit-linear-gradient(top, #603d91, #603d91);
			background-image: -o-linear-gradient(top, #603d91, #603d91);
			background-image: linear-gradient(to bottom, #603d91, #603d91);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff603d91', endColorstr='#ff603d91', GradientType=0);
	}

	 
	#block-region-side-post .title h2:after {
		content: "";
		position: absolute;
		top: 100%;
		left: auto;
		right: 0px;
		z-index: -1;
		border-width: 0 0 30px 30px;
		border-style: solid;
		border-color: transparent #693f7d !important;
	}

	/* left column */
	#block-region-side-pre {
	padding-left: 10px;
	}

	#block-region-side-pre .title h2 {
	  position: relative;
	  border-radius: 0px;
	  color: white;
	  border: 0px;
	  margin: 0px 20px 10px inherit !important;
	  left: -20px;
	  top: -1px;
	  -webkit-box-shadow: 5px 8px 12px -4px #333;
	  -moz-box-shadow: 5px 8px 12px -4px #333;
	  box-shadow: 5px 8px 12px -4px #333;
	  padding: 12px 0px 12px 15px;
	  background-image: -moz-linear-gradient(top, #603d91, #603d91);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#603d91), to(#603d91));
			background-image: -webkit-linear-gradient(top, #603d91, #603d91);
			background-image: -o-linear-gradient(top, #603d91, #603d91);
			background-image: linear-gradient(to bottom, #603d91, #603d91);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff603d91', endColorstr='#ff603d91', GradientType=0);
	}

	#block-region-side-pre .title h2:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0px;
		z-index: -1;
		border-width: 0 30px 30px 0;
		border-style: solid;
		border-color: transparent #432178 !important;
	}
}
/******************************* My Courses page ***************************/

/* Remove the title on the My Courses page this is usless information*/
#page-my-index #page-header h1 {
font-size: 1px;
color: #fff;
margin: 0;
padding: 0;
line-height: 12px;
}

/* reset borders and margins */
#page-my-index #region-main .block, #page-my-index #region-main .content, 
#page-my-index #region-main .coursebox, 
#page-my-index #region-main .box #region-main,
#page-my-index #region-main .block_course_overview .content h2.title, 
#page-my-index #region-main .block .header .title h2{
margin: 0;
padding: 0;
border: none;
background-color: transparent;
box-shadow: none;
}

/* strong line under course overview heading. like those found after sections */
#page-my-index #region-main .block .header .title{
border-bottom: 2px solid rgb(238, 238, 238);
padding-bottom: 18px;
}

/* larger course overview heading */
#page-my-index #region-main .block .header .title h2 {
font-size: 2em;
color: black;
}

/* course titles in Sans-Serif */
.block_course_overview .content h2.title {
   font-size: 150%;
   font-family: 'Noto Serif', serif;
}

/* course activites should be inset and have a bottom border */
#page-my-index .block_course_overview .activity_info {
padding-left: 16px;
}
#page-my-index #region-main .coursebox {
padding-bottom: 16px;
margin-bottom: 12px;
border-bottom: 1px solid #ddd;
border-radius: 0;
}

/* course listings */
.coursebox > .info > .name, .coursebox .content .teachers, .coursebox .content .courseimage, .coursebox .content .coursefile {
width: auto;
}



/**************************** Activities *********************************** 
 * fixes for fonts and spacing in the book activity */
.path-mod-book .book_toc_numbered {
    font-size: 1em;
}
.path-mod-book .book_toc_bullets {
    font-size: 1em;
}
.block_book_toc li {
    line-height: 1.1em;
}
.block_book_toc li ul {
    margin-bottom: 8px !important;
}
.path-mod-book .block_book_toc ul {
    margin: 0 0 0 10px;
}

.path-mod-book .book_chapter_title {
	font-size: inherit !important;
}

/* fix the display of multipule choice items in feedback. Currently form lables are set to display block which makes the text of the multipule choice item display below the check box.
*/
.feedback_item_radiolabel_v_left label {
display: inline;
}


/* ************************* Forms *****************************************
 * Form editor is compressed by labels. Move the edit area below label and 
 * configure it to use 100% of the space 
*/
.felement.feditor {
  clear: both;
  margin: 0 !important;
  padding: 0;
  width: 100%;
}

#id_content_editor_tbl {
  width: 100%;
}

/* *****************************Gradebook Pages******************************** 
 * Grade tables are using default font-face and small size. We are using sarifed 
 * fonts and this makes it hard to read. Bump up the font and swich to sans-serif 
*/

.gradetreebox table {
  font-size: 1em;
}

body.path-grade {
 font-family: 'Noto Sans', sans-serif;
}

.user-grade {
 font-size: 1em;
}

/* fixe the smple view table to size properly */
.gradetreebox th.c0 {
   width: 0px;
}
/* allow word wrap */
.gradetreebox td.name {
  white-space: normal;
}

/* float the urlselect bar in the grade pages to the right to save on vertical space */
body.path-grade .urlselect {
 float: right;
}

/* dont display the course title on the grade pages to save on vertical space */
body.path-grade #page-header h1 {
display: none;
}


/* don't display blocks in grade area */
body.path-grade #block-region-side-pre {
display: none;
}
/* make grade area fit to screen width (Moodle still thinks there are blocks there */
body.path-grade .span9 {
width: 100%;
}




/* fixes for rubric and marking guides 
*/

/* increase the width of the marking guide editor */
#fitem_id_advancedgrading .fitemtitle {
	width: auto !important;
	float: none;
	text-align: inherit;
	}

#fitem_id_advancedgrading .felement {
	margin-left: auto !important;
}

/* increase the width of the rubric editor */
#page-grade-grading-form-rubric-edit #region-main {
	width: 100%;
}
